<div class="container">
  <div class="jumbotron">
    <h1>Eglseer Chronik</h1>
    <div class="row">
      <div class="col-md-6">
        <p><b>Gründungsversammlung am 27.Juni 1971</b><br><br> Nach dem sich mehrere junge Leute zusammengefunden hatten, die sich
          für den Volkstanz begeisterten, konnte am 27.Juni 1971 im Gasthaus Seidlwirt die Gründungsversammlung stattfinden.
          Nach einer kurzen Begrüßung durch Herrn Johann Fagerer wurde anschleißend der Vorstand gewählt.<br><br><b> Die 21
          Gründungsmitglieder:</b>
          <br><br> Brunauer Jakob, Brunauer Katharina, Ebner Josef, Eibl Elfriede, Fuschlberger Elisabeth, Haslauer Maria,
          Haslauer Veronika, Hirnsperger Jakob, Hirnsperger Maria, Prähauer Andreas, Prähauser Josef, Rettenbacher Johann,
          Rihar Franz, Schmiedlechner Marianne, Schmiedlechner Wilhelm, Schnöll Johann, Schnöll Wilhelm, Schörghofer Maria,
          Steindl Aloisia, Steindl Peter, Thaier Elisabeth<br><br></p>
        <table class="table">
          <h4>Der erste Vorstand</h4>
          <tr>
            <td>Obmann:</td>
            <td>Rihar Franz</td>
          </tr>
          <tr>
            <td>Obmann-Stv.:</td>
            <td>Brunauer Jakob</td>
          </tr>
          <tr>
            <td>Schriftführer:</td>
            <td>Schnöll Johann</td>
          </tr>
          <tr>
            <td>Schriftführer Stv.:</td>
            <td>Schnöll Wilhelm</td>
          </tr>
          <tr>
            <td>Kassier:</td>
            <td>Haslauer Veronika</td>
          </tr>
          <tr>
            <td>Kassier-Stv.:</td>
            <td>Schmiedlecher Marianne</td>
          </tr>
          <tr>
            <td>Zeugwarte:</td>
            <td>Prähauser Josef <br>Ebner Josef</td>
          </tr>
          <tr>
            <td>Kassaprüfer:</td>
            <td>Schlager-Haslauer Anton <br>Eibl Elfriede</td>
          </tr>
        </table>
        <p>
          Zu Beginn war Friedl Klinger von den "Lustigen Salzburgern" der Tanzlehrer, der den Eglseern die ersten Volkstänze beigebracht
          hatte. Heinrich Steindl (Heini Huber) war der Spielmann der Anfangszeit, ohne welchen wir unsere Volkstänze nicht
          zur Aufführung bringen hätten können. Zahlreiche Heimatabende haben in der ersten Zeit stattgefunden und im Mai
          1972 stand auch schon die erste große Auslandsreise mit der Trachtenmusikkapelle Elsbethen und dem Alpenecho nach
          St.Vallier bei Lyon (Südfrankreich) am Programm. Im selben Jahr ging es im Herbst mit 16 Mitgliedern unseres Vereines
          und dem Tanzlehrer Friedl Klinger zu einem Gegenbesuch nach Gemünden an der Wohra.<br><br> Bei der Jahreshauptversammlung
          am 13. Jänner 1974 im Gasthaus Schwaitlalm wurde Andreas Prähauser zum neuen Obmann gewählt. Sein Stellvertreter
          wurde Paul Haslauer.<br><br> Auch in den ersten Jahren wurden schon viele lustige Ausflüge organisiert, die für
          die Gemeinschaft von Vorteil waren. Veranstaltungen wie Maitanz. Brauchtumsabende und Trachtenball wurden von der
          Bevölkerung gut besucht. Im März 1975 nahmen die Eglseer an der großangelegten Verschwisterungsfeier in Gemünden
          ander Wohra teil. Veranstaltungen verschiedener Art wurden bei dieser Veranstaltung durchgeführt. Die wöchentlichen
          Tanzproben mit Harmonikaspieler Franz Haslauer wurden in der Volkschule Vorderfager abgehalten. Durch den Gauobmann
          Peter Forsthuber wurden verschiedene Volkstänze nähergebracht. 1975 entstanden auch die ersten Kontakte zur Familienmusik
          Jischa-Brandlhofer, was den Grundstein für eine musikalische Weiterentwicklung bedeutete. Die Familienmusik Jischa-Brandlhofer
          gestaltete zum Großteil die durchgeführten Brauchtumsabende, die abwechselnd beim Rechenwirt und Seidlwirt stattfanden.
          Der erste Maibaum wurde gemeinsam mit der Freiwilligen Feuerwehr Löschzug Vorderfager am 16. Mai 1976 beim Gasthaus
          Schwaitlalm aufgestellt. 1976 fand auch der erste Kindervolkstanzkurs statt, andem 45 Volks- und Hauptschulkinder
          teilnahmen. Zum ersten mal besuchten die Eglseer das Schulungswochenende vom 26-27.3.1977 beim Santnerwirt in Eugendorf.
          Dabei konnte das Können bezüglich Volkstänze und Lieder erweitert werden. Seit der Vereinsgründung war Jakob Brunauer
          der Vortänzer der Eglseer. Durch sein Können und Interesse konnte der Verein zum Vorbild vieler Gruppen im Flachgau
          werden.
        </p>
        <h3><b>1978 war ein erfolgreiches Eglseer-Jahr</b></h3>
        <p>
          Es entstand die Eglseer Tanzlmusi unter der Leitung von Rudi Jischa. Franz Haslauer (Hiasn Franz) war bereits seit 1973 unser
          Vereinsspielmann. Im Juni 1978 nahmen die Eglseer anläßlich des Bundesvolkstanzfestes in Kindberg in der Steiermark
          beim Preistanzen teil und erreichten unter 80 mitwirkenden Vereinen mit dem Salzburger Almtanz den 1. Preis.<br><br>          Im Jahre 1979 wurde in Zirl in Tirol der erste Tonträger unter der Leitung von Sepp Kufner mit dem Titel "Eglseer
          Hoagascht" aufgenommen.<br><br> Zahlreiche Brauchtumsveranstaltungen, im besonderen 13 Heimatabende beim Gasthaus
          Schorn, wurden von Mai bis September durchgeführt. Als Solist wirkte der Zithervirtouse Prof. Franz Brandlhofer
          mit. Mit seiner einzigartigen spielerischen Meisterhaftigkeit konnte er immer das Publikum begeistern. Zum ersten
          Mal wurde am 8. September 1979 ein "Eglseer Sänger- und Musikantentreffen" unter dem Motto "Rund um an Bauerntisch"
          mit dem Sprecher Fritz Schwärz veranstaltet. Diese Veranstaltung fand in der Volkschule Elsbethen statt und wurde
          vom ORF aufgezeichnet. Mit dabei waren die Gruppen: Mehrnbacher Musikanten, Ramsauer Sänger, Pongauer Flötenmusi,
          Geschwister Röpfl, Pföß Dirndln, Aigner Jaghornbläser, Eglseer Zitherrunde, Eglseer Tanzlmusi, Eglseer Tanzgruppe.<br><br>          Das Vereinsjahr 1980 bestand im wesentlichen in der Vertiefung der Beziehungen mit der Partnerschaftsgemeinde Gemünden
          an der Wohra und einer Vielzahl von Brauchtumsabenden. Als Belohnung durften die Mitglieder einen lang verdienten
          Ausflug nach Südtirol (Gufidaun) machen, dabei wurde erstmals bei einem Plattlerauftritt der Begriff "ein Schlag"
          (genaue Abstimmung des Plattlerschlages) erfunden. Vom 17.-25. Oktober 1981 feierten die Eglseer ihr 10-jähriges
          Bestandsjubiläum mit einem volkstümlichen Theaterstück, einem großen Sänger- und Musikantentreffen und einem Festakt.
          Dazu wurde die Reithalle Schwaitlalm in mühsamer Arbeit zu einer schmucken Festhalle verwandelt. Als erschwerender
          Begleiter stellte sich über Nacht mit viel Neuschnee der Winter ein, wodurch die Festhalle immer wieder mit Heizkanonen
          beheizt werden musste. Der offizielle Festakt am 25. Oktober 1981 bei stahlendem Sonnenschein, aber sehr kaltem
          Winterwetter, wurde von Pfarrer Wolfgang Müller mit der Weihe des Eglseer Kreuzes gekrönt. Diese Kreuz befindet
          sich heute in der Glasenbachklamm im Bereich der Wegkreuzung Schwaitl-Ramsau-Höhenweg.<br><br>
        </p>
      </div>
      <div class="col-md-6">
        <div class="row"><img src="assets/chronik/image1.JPG" /></div><br>
        <div class="row"><img src="assets/chronik/image2.JPG" /></div><br>
        <div class="row"><img src="assets/chronik/image3.JPG" /></div><br>
        <div class="row"><img src="assets/chronik/image4.JPG" /></div><br>
        <div class="row"><img src="assets/chronik/image5.JPG" /></div><br>
        <div class="row"><img src="assets/chronik/image6.JPG" /></div><br>
        <div class="row"><img src="assets/chronik/image7.JPG" /></div><br>
        <div class="row"><img src="assets/chronik/image8.JPG" /></div><br>
        <div class="row"><img src="assets/chronik/image9.JPG" /></div><br>
        <div class="row"><img src="assets/chronik/image10.JPG" /></div><br>
        <div class="row"><img src="assets/chronik/image11.JPG" /></div><br>
        <div class="row"><img src="assets/chronik/image12.JPG" /></div><br>
      </div>
    </div>
    <div class="row">
      <p>
        In den folgenden Jahren waren die Eglseer wieder sehr aktiv, vor allem bei Großveranstaltungen wie dem Georgikirtag auf der
        Festung. Aufgrund der Gegebenheiten erweiterte die Familie Brüggler ihr Gasthaus Ramsau. Die Neueröffnung wurde mit
        einem großen Brauchtumsabend gefeiert. Anlässlich der 13. Jahreshauptversammlung legte Andreas Prähauser seine Funktion
        als Obmann nach 10-jähriger Tätigkeit zurück. Für seine langjährige Tätigkeit wurde ihm vom Verein eine Schützenscheibe
        und eine Ehrenurkunde überreicht. Außerdem erhielt er vom Landesverband das Ehrenzeichen für Heimat und Brauchtum
        in Bronze. Dieses Ehrenzeichen erhielten ebenfalls Elfi Prähauser, Jakob Brunauer, Johann Schnöll und Rupert Schörghofer.
        Elfi Jischa, Rudi Jischa und Franz Haslauer erhielten das Volkmusikehrenzeichen in Bronze.<br><br> Sepp Kufner
        war nicht nur Gönner sondern auch hauptverantwortlich für die Gestaltung und Organisation aller Eglseer Sänger- und
        Musikantentreffen. Weiters wurden unter seiner Leitung zwei Tonträger mit dem Titel "Eglseer Hoagascht" und "Beim
        Nachbarn in der Bauernstubn" gestaltet. Große Verdienste erwarb Sepp Kufner in der Ausbildung von Volksmusikaten.
        Am 8. September 1979 erhielt er anlässlich des 1. Eglseer Sänger- und Musikantentreffen vom Landesverband der Salzburger
        Heimatvereinigungen das Volksmusik-Ehrenzeichen in Gold. Im Rahmen der 13. Jahreshauptversammlung wurde er für seine
        Verdienste um die Brauchtumsgruppe "Die Eglseer" zum Ehrenmitglied ernannt. Nach längerer, schwerer Krankheit ist
        Sepp Kufner am 24.Juni 1986 im 60. Lebenjahr verstorben. Mit ihm verloren die Eglseer ihr Ehrenmitglied und einen
        ganz besonderen Freund.<br><br> Nach Andreas Prähauser wurde 1984 Josef Herbst Obmann des Vereines. In den folgenden
        Jahren wurde der Schwerpunkt in der Brauchtumsarbeit auf die Vermittlung von Volkstänzen für die breite Öffentlichkeit
        gesetzt. Durch intensive Probenarbeit im Bereich Volkstanz, Volksmusik und Volkslied entwickelten sich die Eglseer
        zu einem der vielseitigsten Brauchtumsvereine im Flachgau. Dadurch konnten die Eglseer beim "Klingenden Salzburg"
        ein sehr abwechslungsreiches Programm mit verschiedenen Teilgruppen (Tanzlmusi, Flötentrio, Weisenbläser, Hackbrettmusi,
        Singkreis und Tanzgruppe) darbieten. Großes Lob und Anerkennung verdient die Familie Holzer aus Henndorf, welche
        durch mahr als fünf Jahre für unsere Tanzlmusi tätig war. Die Eglseer Tanzlmusi bestand aus Rudi Jischa, Fritz Wiechenthaler,
        Hans, Thomas und Jürgen Holzer. Die die Familie Holzer eine eigene Tanzlmusi gründete, war ein Weiterverbleib bei
        den Eglseern aus terminlichen Gründen nicht mehr möglich. Ende 1992 endete somit die Eglseer Tanzlmusi in dieser
        Besetzung.
        <br><br> Seit 1979 stellen die Eglseer beim Gasthaus Ramsau ihren Maibaum auf. Da am 1. Mai bereits von den Prangerschützen
        in Aigen und Elsbethen ein Maibaum aufgestellt wird, wird der Eglseer Maibaum am Christi-Himmelfahrts-Tag aufgestellt.
        Eine Terminverschiebung ist aufgrund des drohenden Juni meistens nicht möglich, wodurch der Maibaum bei jeder Witterung
        aufgestellt wird.<br><br> Am 15. Juli 1984 wurde im Gasthaus Ramsau der erste Eglseer Kirtag veranstaltet. Zu Lebzeiten
        von Sepp Brucker (Ramsau Wirt) war dies der Aigner Kirtag, weshalb wir diesen Brauch wieder beleben wollten. Mit
        einer Hl. Messe beim Eglseer Kreuz, die durch die Prangerschützen und die Trachtenmusikkapelle Aigen festlich umrahmt
        wurde und mit einem anschließenden Frühschoppenkonzert in der Ramsau, wurde der Kirtag zu einem wichtigen Brauchtumselement
        in der Pfarrgemeinde Elsbethen und Aigen. Selbstgemachte Krapfen, Pofesen, Kirtagherzen, sowie Volksmusik und Volkstanz
        sorgten dafür, dass diese Veranstaltung von der Bevölkerung zahlreich besucht wurde.
      </p>
      <h3><b>Lebendiges Brauchtum</b></h3>
      <p>
        1993 wurde vom Landesverband der Salzburger Heimatvereinigungen ein Wettbewerb "Lebendiges Brauchtum" ausgeschrieben, der
        zuerst nur vom Flachgau als Pilotprojekt angenommen wurde. Wir haben in diesem Vereinsjahr alls unsere Aktivitäten
        in den verschiedenen Bereichen aufgezeichnet, wie z.B. Tanzkurs für Jugendliche, offene Volkstanzabende, wöchentliche
        Tanzproben, Singproben, Proben der verschiedenen Musikgruppen, Veranstaltungen wie Maibaumaufstellen, Sonnwendfeuerbrennen,
        Kirtag, Kathreintanz, Mitwirkung bei der Eröffnung des Heimatmuseums, des Brauchtumstages der Gemeinde und noch viele
        lustige Zusammenkünfte, die für die Gemeinschaft und Freundschaft von Nutzen waren. Beim Abschlußbewerb am Samstag
        19. Februar 1994 im Heffterhof konnten wir mit dem Salzburger Almtanz, dem Tuschboarischen und der Iselthaler Masurka
        sowie bei der theoretischen Prüfung Bräuche und Trachten das Wertungsprädikat "Ausgezeichnet" erreichen. am 21. April
        1994 hat Landesrat Rupert Wolfgruber in den Ständesaal der neuen Residenz eingeladen, wo wir für unsere Leistungen
        im vergangenen Vereinsjahr und unseren Erfolg beim Abschlussbewerb im Heffterhof, gemeinsam mit dem Heimatverein
        Faistenau und der Brauchtumsgruppe Straßwalchen, die Salzburger Volkskulturmedaille in Silber überreicht bekamen.
      </p>
    </div>
  </div>
</div>