<div class="container">
  <div class="jumbotron">
    <h1>Sonstiges</h1>
    <div class="row">
      <ul class="list-group">
        <li class="list-group-item">
          <a routerLink="/tanzlmusi">Eglseer Tanzlmusi</a>
        </li>
        <li class="list-group-item">
          <a routerLink="/saitenspieler">Eglseer Saitenspieler</a>
        </li>
        <li class="list-group-item">
          <a routerLink="/krampusse">Eglseer Krampusse</a>
        </li>
        <li class="list-group-item">
          <a routerLink="/braeuche">Bräuche</a>
        </li>
        <li class="list-group-item">
          <a routerLink="/tracht">Tracht</a>
        </li>
        <li class="list-group-item">
          <a routerLink="/chronik">Eglseer Chronik</a>
        </li>
        <li class="list-group-item">
          <a routerLink="/alpenlaender">Alpenländischer Advent</a>
        </li>
        <li class="list-group-item">
          <a routerLink="/brunoagathe">Bruno & Agathe</a>
        </li>
        <li class="list-group-item">
          <a routerLink="/kinderprojekte">Kinderprojekte</a>
        </li>
        <li class="list-group-item">
          <a routerLink="/jugendtanzt">Jugend|tanzt</a>
        </li>
      </ul>
    </div>
  </div>
</div>