<div class="container">
  <div class="jumbotron">
    <h1>Die Eglseer Krampusse</h1>
    <div class="row">
      <div class="col-md-6">
        <p>Der Krampus ein Teil des Adventbrauchtums im Alpenraum und Begleiter des Heiligen Nikolaus, welcher die "braven"
          Kinder beschenkt. Die Krampusse "bestrafen" die Unartigen. Zumeist sind sowohl Krampus und Nikolaus am 5./6. Dezember
          unterwegs.<br><br> Der Brauch des Krampusses stammt aus der keltisch-germanischen Mythentradtion und war im ganzen Alpenraum
          verbreitet. Durch die Inquisition wurde dieser Brauch verboten, konnte sich aber in verschiedenen Alpentälern halten.
          Durch die Beistellung des Heiligen Nikolaus zum Krampus christianisierte die katholische Kirche den Krampusbrauch.
          Im 19. Jhdt erfolgte durch die Säkularisation ein Umdenken gegenüber der Volkskultur und die Krampusse erlebten
          eine Renaissance. Im 20. Jhdt verstärkte sich diese Tendenz und heute erfährt der Krampusbrauch eine fast krankhafte,
          traditionsverlorene, gewalttätige und effekthaschende Auslebung und eine zeitliche Ausdehnung.<br><br> Einige Eglseer sind
          als Nikolaus und Krampus verkleidet rund um den 5. Dezember unterwegs und machen auf Anfrage Hausbesuche am und
          rund um den Gaisberg. Sie wirken auch beim Alpenländischen Advent mit und tanzen den "Eglseer Perchtentanz" der
          von den Saiten und Blechinstrumenten intoniert wird. Beim Perchtentanz tritt der "Schworze Wuzzl" in Erscheinung.</p>
      </div>
      <div class="col-md-6">
        <div class="row"><img src="assets/krampusse/image2.JPG" /></div><br>
        <div class="row"><img src="assets/krampusse/image3.JPG" /></div><br>
      </div>
    </div>
    <div class="row"><img src="assets/krampusse/image1.JPG" /></div>
  </div>
</div>