<div class="container">
  <div class="jumbotron">
    <h1>Die Eglseer Saitenspieler</h1>
    <div class="row">
      <div class="col-md-6">
        <p>Die Eglseer Saitenspieler sind eine Initative von Elfi und Rudi Jischa, die mit viel Begeisterung und Engagement
          Zither-, Hackbrett- und Gitarrenspieler um sich gesammelt haben und verschiedene ruhigere Veranstaltungen mit ihrer
          Saitenmusik umrahmen, zum Beispiel den Alpenländischen Advent der alle zwei Jahre in Elsbethen stattfindet.<br><br> Die
          Saitenspieler gestalten aber auch ganze Konzerte.</p>
      </div>
      <div class="col-md-6">
        <div class="row"><img src="assets/saitenspieler/image1.JPG" /></div><br>
      </div>
    </div>
  </div>
</div>