<div class="container">
  <div class="jumbotron">
    <h1>Aktuelles</h1>
    <div class="row">
      
     <div class="well">
      <h3>Eglseer Maibaumsetzen 2018</h3>
      Die Brauchtumsgruppe "Die Eglseer" stellt am 10. Mai 2018 den Maibaum traditionell beim Gasthaus "Die Ramsau" auf.<br>
      Auf euch wartet stimmungsvolle Musik mit den Eglseer Musikanten, Tanzeinlagen der Brauchtumsgruppe und natürlich ausgelassene Stimmung bei Speis und Trank.<br>
      Ersatztermin: Samstag, 12. Mai 2018<br><br>
      <a href="https://www.facebook.com/events/1685654501555297/" target="_blank"><img src="assets/facebook.png"></a>
        <b>Die Bilder von unserem Maibaumsetzen kannst du auf Facebook oder in unserer Bildergalerie anschauen!</b>
     </div>
    </div>
  </div>
</div>