<div class="container">
  <div class="jumbotron">
    <h1>Bräuche</h1>
    <div class="row">
      <div class="col-md-6">
        <p>Maibaumaufstellen<br><br> Das Maibaumaufstellen ist ein Brauch, der in ganz Mittel- und Nordeuropa verbreitet ist. Im Regelfall
          wird heute der Maibaum am 1.Mai aufgestellt, früher wurden die Maibäume im Laufe des ganzen Mai aufgestellt. Das
          Maibaumaufstellen in heutiger Form ist seit dem 16. Jahrhundert bekannt, jedoch wurde der Maibaum zu Anlässen wie
          Kirtagen, als Ehrenbaum oder als Prieskletterstange aufgestellt. In der Romantik des 19.Jhdt wurde dem Maibaum
          eine Fruchtbarkeitssymbolik aufoptruiert.<br><br> Der Maibaum wird meistens geschält, mit Tannenkränzen und -girlanden
          geschmückt und mit farbigen Bändern in Landes/Regionsfarben verziert. In Österreich wird zumeist eine Fichte als
          Maibaum aufgestellt. Zum Aufstellen selbst verwendet man Stangen und Spitzen. Der Maibaum bleibt entweder bis Monatsende
          oder sogar das ganze Jahr hindurch stehen. Ein weiterer Brauch rund um den Maibaum ist das Maibaumstehlen. Der
          Maibaum kann am Tag des Aufstellens gestohlen werden (zwischen Umschneiden und Mitternacht).<br><br> Der Eglseer-Maibaum
          wird jedes Jahr, seit 1979 am Christi-Himmelfahrtstag beim Gasthaus Ramsau aufgestellt. Dieser Termin ist darauf
          zurückzuführen, dass am 1. Mai bereits in Elsbethen und Aigen ein Maibaum aufgestellt wird. Der Eglseer-Maibaum
          wird seit 1976 jedes Jahr von einem Maibaumspender gestiftet und die Eglseer binden Kränze und Girlanden und stellen
          den Maibaum mit Hilfe von Helfern von den Gaisbergvereinen und aus dem Publikum auf. Leider musste der Maibaum
          bereits des Öfteren mit Arbeitkleidung und bei strömenden Regen aufgestellt werden.</p>
      </div>
      <div class="col-md-6">
        <div class="row"><img src="assets/braeuche/image1.JPG" /></div><br>
        <div class="row"><img src="assets/braeuche/image2.JPG" /></div><br>
        <div class="row"><img src="assets/braeuche/image3.JPG" /></div><br>
        <div class="row"><img src="assets/braeuche/image4.JPG" /></div><br>
      </div>
    </div>
    <div class="row">
      <div class="row"><img src="assets/braeuche/image5.JPG" /></div><br>
    </div>
  </div>
</div>