<div class="container">
  <div class="jumbotron">
    <h1>Plattler</h1>
    <div class="row">
      <div class="col-md-6">
        <p>Der Plattler ist ein ganz besonderer Tanz, den Paare aber auch einzelne Burschen in der Gruppe oder alleine Tanzen,
          dessen Wurzeln im Landler liegen. Die Tanzform des Plattlers ist in Oberbayern, Tirol und Salzburg entstanden.
          Aus heute nicht mehr genau nachweisbaren Anfängen, die wahrscheinlich bis ins Mittelalter zurückgehen, entstand
          das, was wir heute als "schuhplatteln" bezeichnen. Seine Erfinder waren einfache Leute wie Bauern, Jäger und Holzfäller.
          Getanzt wurde damals selten. Wenn sich aber die Gelegenheit bot, hat der Bursch sein Dirndl zum Tanz eingeladen
          um ihr deutlich zu machen, was ihn bewegte. Ursprünglich war der Plattler ein freier Tanz ohne Regeln. Der Bua
          vollführt seine improvisierten rythmischen Bewegungen im Landlertakt um das Diandl zu umwerben. Es wurde auf Schenkel,
          Knie und Schuhsohlen geplattelt und verschiedene Sprünge, Hüpfer und Stampfer vollführt um das Diandl für sich
          zu gewinnen. Die Bauernburschen und Holzknechte vergangener Jahrhunderte konnten weder lesen noch schreiben konnten
          und ihre verbale Ausdrucksweise oft recht unbeholfen gewesen sein dürfte. Sie verfügten aber über überdurchschnittliche
          Muskelkräfte und waren auf Grund der harten Arbeit zu erstaunlichen Dauerleistungen fähig. Dazu kam wohl auch ein
          Gefühl für Musikalität und Rhythmus. Mit diesen Gaben der Natur wollten sie sich ihrem Dirndl offenbaren.</p>
      </div>
      <div class="col-md-6">
        <div class="row"><img src="assets/plattler/image1.JPG" /></div><br>
        <div class="row"><img src="assets/plattler/image2.JPG" /></div>
      </div>
    </div>
    <div class="row">
      <p>
        Was läge da näher als durch einen draufgängerischen, kraftstrotzenden Tanz das Dirndl zu beeindrucken. Insoweit war der Schuhplattler
        von Anfang an ein Werbetanz, mit dem der Bursch versuchte die Gunst des Dirndls zu erwerben. Deshalb unterscheidet
        sich der Schuhplattler nicht unwesentlich von jenen Tänzen bei denen die Partner körperlichen Kontakt suchten. Angefangen
        beim Walzer, der ersten weitverbreiteten Tanzform mit Tuchfühlung, der deshalb seinerzeit als unmoralisch galt, bis
        hin zum sinnlichen Tango. Die Vorläufer des Schuhplattlers sind wesentlich älter als diese Tänze. Wie weit sie zurückreichen
        weiß man nicht genau. Die ältesten, brauchbaren Hinweise stammen aus der Zeit des höfischen Menuetts und der Quadrille,
        aus dem 18. Jahrhundert. Diese, strengen Regeln unterworfenen Tänze wurden bei Hofe getanzt. In den ländlichen Gegenden
        in Tirol und Oberbayern folgte man frei der Musikalität und dem eigenen Bewegungsdrang. Die Burschen improvisierten
        und setzten die Tanzfiguren nach eigenem Gutdünken zusammen. Die Grundform ist der Ländler, der Anfang des 18. Jahrhunderts
        von Österreich nach Bayern kam. Zunächst wirbt der Bursch um die Gunst des Dirndls. Er tut dies - unter anderem -
        mit lebhaften Soloeinlagen, die schon Schläge auf Schenkel und Schuhsohlen enthalten. Je weiter im Gebirge man sich
        befindet um so lebhafter wird der Tanz. Nach dem Wiener Kongress (1815) gewinnt der Schuhplattler immer mehr an Boden.
        Die Figuren sind von Ort zu Ort verschieden und neue werden hinzugefügt. Noch hat der Tanz rein werbenden Charakter.
        Dies behält er auch bei, als in dem nun beginnenden zweiten Entwicklungsabschnitt das gleichzeitige Platteln der
        Burschen, in lockerer, nicht formierter Aufstellung unter dem Namen "Plattler", ausgehend von Bayern, Eingang findet.
        Die dritte Epoche des Plattlers setzte um die Mitte des vorigen Jahrhunderts im bayrischen Oberland ein, als einige
        Burschen die Publikumswirksamkeit des Schuhplattlers entdeckten. Mehr und mehr wandte sich die Bedeutung des Schuhplattlers
        vom Werbetanz zum Schautanz. Jeder Werbetanz trägt ja den Kern eines Schautanzes in sich. Den er soll gesehen "geschaut"
        werden, ob vom Dirndl oder vom Publikum. Die Vereine greifen nun ab 1883 diese Form des Schuhplattlers auf und praktizieren
        sie bis heute. Heute wird in ganz Österreich geplattelt. In jedem Bundesland von Vorarlberg bis Wien haben die Vereine
        den Tanz "Schuhplattler" aufgegriffen und pflegen ihn bis heute. Der Verband ist steht’s bestrebt die Tradition des
        Schuhplattelns in ihren Ursprüngen zu erhalten. Er bietet dazu regelmäßig Schulungen und Plattlerseminare an. Dort
        können die Mitglieder neue Plattler erlernen, alte auffrischen und etwas über den geschichtlichen Hintergrund erfahren.
        Wie bereits erwähnt wird der Schuhplattler immer mehr zu einem Schauplattler. Der Fremdenverkehr hat dazu wohl nicht
        unbeträchtlich beigetragen. Selbstverständlich sollten wir unsere Tänze mit den Gästen die sich für unsere Heimat
        - unsere Tradition - interessieren teilen. Wenn wir die Plattler aber verändern nur damit sie auf die Gäste spektakulärer
        wirken, sind wir dabei unsere Tradition zu verkaufen. An erster Stelle sollte immer die Brauchtumspflege und die
        eigene Freude am Schuhplatteln stehen und nicht die Vermarktung und Wirtschaftlichkeit unserer Tätigkeit. Wenn wir
        uns darauf besinnen wird dem Schuhplattler auch weiterhin ein Platz in unseren Herzen sicher sein.<br><br>Infolge
        des Tourismus und der sogenannten Brauchtumsabende wurden ab den 50er Jahren, neben dem im Landler üblichen 3/4-Takt,
        auch zu "geraden" Takten und Märschen geplattelt.<br><br> So fand auch verschiedenes umstrittenes Zubehör, wie Werkzeuge,
        Nahrungsmittel, Glocken und andere Instrumente den Weg auf die Bühne, wie bei verschiedenen heute üblichen Schauplattlern
        zu sehen ist.
      </p>
    </div>
  </div>
</div>