<div class="container">
  <div class="jumbotron">
    <h1>Die Eglseer Tanzlmusi</h1>
    <div class="row">
      <div class="col-md-6">
        <p>1978 entstand die Eglseer Tanzlmusi unter der Leitung von Rudi Jischa. Franz Haslauer (Hiasn Franz) war bereits seit
          1973 unser Vereinsspielmann.<br><br> Von 1986 bis 1992 war die Familie Holzer aus Henndorf in der Eglseer Tanzlmusi
          tätig. Die Tanzlmusi bestand aus Rudi Jischa, Fritz Wiechenthaler, Hans, Thomas und Jürgen Holzer. Nach der Gründung
          ihrer eigenen Tanzlmusi (Lichtentanner Tanzlmusi) war der Verbleib der Holzers bei den Eglseern aus terminlichen
          Gründen nicht mehr möglich.<br><br> Danach begann die Zeit der Tanzlmusi, in der heutigen Besetzung mit Rudi Jischa,
          Hubert Brunauer, Gitti Jischa, Martin und Jakob Brandauer und Wolfgang Hirnsperger. Seit 2002 spielt auch Evelyn
          Brunauer immer wieder mit.<br><br> Die Eglseer Tanzlmusi begleitet die Eglseer durch das ganze Vereinsjahr. Bei
          der Jahreshauptversammlung, Kirtag, Brauchtumstag und dem Kathreintanz, sowie Hochzeiten, Geburtstagsfeiern und
          anderen Veranstaltungen spielen sie in größeren und kleineren, sowie wechselnden Besetzungen nach Bedarf und Situation.</p>
      </div>
      <div class="col-md-6">
        <div class="row"><img src="assets/tanzlmusi/image1.JPG" /></div><br>
        <div class="row"><img src="assets/tanzlmusi/image2.JPG" /></div><br>
      </div>
    </div>
    <div class="row">
      <div class="row"><img src="assets/tanzlmusi/image4.JPG" /></div><br>
      <div class="row"><img src="assets/tanzlmusi/image5.JPG" /></div><br>
      <div class="row"><img src="assets/tanzlmusi/image3.JPG" /></div>
    </div>
  </div>
</div>