<div class="container">
  <div class="jumbotron">
    <h1>Eglseer Tracht</h1>
    <div class="row">
      <div class="col-md-6">
        <h3>Buam</h3>
        <ul>
          <li>Lederhose mit Latz</li>
          <li>Grauer Lodenjanker(grüne Einfassungen)</li>
          <li>Pfoat mit Mascherl</li>
          <li>Trachtiges Gilet</li>
          <li>Graue Stutzen</li>
          <li>Schwarzer Hut mit Saubart</li>
          <li>Schwarze Haferlschuhe</li>
        </ul>
      </div>
      <div class="col-md-6">
        <h3>Diandln</h3>
        <ul>
          <li>Flachgauer Werktagstracht (Farbe individuell)</li>
          <li>Graue Diandljoppn</li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6"><img src="assets/tracht/image1.JPG" /></div>
      <div class="col-md-6">placeholder for diandltracht</div>
    </div>
  </div>
</div>