<div class="container">
  <div class="jumbotron">
    <h1>Brauchtumsgruppe Die Eglseer</h1>
    <div class="row">
      <h3>Willkommen auf unserer Homepage</h3>
      <p>Die Brauchtumsgruppe "Die Eglseer" wurde 1971 gegründet und umfasst derzeit einen <b>aktiven Mitgliederstand</b> von 39 Tänzern und Tänzerinnen, 
        der 7-köpfigen <b>"Eglseer Tanzlmusi"</b>, 13 "Eglseern" und 80 unterstützenden Mitgliedern. Der Verein ist in der Gemeinde Elsbethen und der "Gemeinde" 
        Aigen sowie den Pfarren Elsbethen und Aigen südlich der Landeshauptstadt Salzburg, beheimatet. Die Mitglieder wohnen am und rund um den Gaisberg. 
        Viele Mitglieder sind vor allem durch die pfarrlichen Gegebenheiten mit der Pfarre Aigen verbunden.<br><br>
        Die Vereinsschwerpunkte liegen beim Tanzen, Musizieren, Motivieren, Leben des Brauchtums und einem lustigen Miteinander.
        <br><br>Neben den jährlichen Fixterminen, dem <b>Maibaumaufstellen</b>, dem <b>Brauchtumstag</b> und dem <b>Kathreintanz</b> sind vor allem die Tanzproben und die gemeinsamen 
        Aktivitäten wichtige Elemente des Vereinslebens.
        <br><br>Die Eglseer versuchen nicht nur die einfachen Volkstänze unter die Bevölkerung zu bringen, sondern auch eine Brücke zwischen traditionellen Tänzen, 
        eigener Kreativität und dem 21. Jahrhundert zu schlagen.</p>
    </div>
    <div class="row" id="image"><img src="assets/home/image1.JPG"/></div><br>
    <div class="row"><img src="assets/home/image2.JPG"/></div><br>
    <div class="row"><img src="assets/home/image3.JPG"/></div><br>
  </div>
</div>