<div class="container">
  <div class="jumbotron">
    <h1>Termine <button type="button" class="btn btn-info" (click)="refresh()"> <span class="glyphicon glyphicon-refresh"></span></button></h1>
    <div class="row">
      <table>
        <tr>
          <th>Datum</th>
          <th>Veranstaltung</th>
          <th>Uhrzeit</th>
          <th *ngIf="loggedIn">Löschen</th>
        </tr>
        <tr *ngFor="let appointment of appointments">
          <td>{{appointment.date | date: 'dd.MM.yyyy'}}</td>
          <td>{{appointment.content}}</td>
          <td>{{appointment.time}}</td>
          <td *ngIf="loggedIn"><button type="button" (click)="deleteItem($event, appointment)">Löschen</button></td>
        </tr>
      </table>
    </div>
    <hr *ngIf="loggedIn">
    <div class="row" *ngIf="loggedIn">
      <form (ngSubmit)="onSubmit()">
        <div class="row">
          <div class="col-md-3">
            <input type="text" placeholder="Datepicker" class="form-control" bsDatepicker [bsConfig]="{ dateInputFormat: 'DD.MM.YYYY' }"
              placeholder="Datum hinzufügen" [(ngModel)]="appointment.date" name="date">
          </div>
          <div class="col-md-3">
            <input type="text" placeholder="Beschreibung hinzufügen" [(ngModel)]="appointment.content" name="content">
          </div>
          <div class="col-md-3">
            <input type="text" placeholder="Uhrzeit hinzufügen" [(ngModel)]="appointment.time" name="time">
          </div>
          <div class="col-md-3">
            <input type="submit" value="Neuen Termin hinzufügen" class="btn">
          </div>
        </div>
      </form>
    </div>
  </div>
</div>