<div class="container">
  <div class="jumbotron">
    <h1>Volkstanz</h1>
    <div class="row">
      <div class="col-md-6">
        <p>Der österreichische Volkstanz ist aus bäuerlichen, aber auch höfischen und städtischen Tanzformen und Tanzelementen
          entstanden. Auch sind die verscheidenen Tänze von unterschiedlicher mittel- und ostmitteleuropäischer Herkunft.
          Es muss zwischen überlieferten und folkloristischen Volkstänzen unterschieden werden. Die überlieferten Volkstänze
          sind zumeist durch Noten und schriftliche Aufzeichnungen erhalten geblieben. Die folkloristischen Volkstänze entstanden
          durch moderne Choreographien, infolge des Tourismusaufschwunges im 20. Jahrhundert. <br><br> Ein Volkstanz wird
          immer in der Gemeinschaft gestaltet und ist keinesfalls streng festgelegt. Entgegen vieler rückwärtsgewanten Meinungen
          ist jeder Volkstanz regional unterschiedlich und darf eine große Vielfalt in der Gestaltung aufweisen. Im Zentrum
          steht jedoch die Repräsentation und die Brauchtumspflege.<br><br> Es gibt Tänze für alle Jahreszeiten, Anlässe
          und Feste. Vor allem im Fasching, nach Ostern und im Herbst finden traditionell die meisten Tanzveranstaltungen,
          Bälle, Hochzeiten und Kirtage statt.<br><br></p>
      </div>
      <div class="col-md-6">
        <div class="row"><img src="assets/volkstanz/image1.JPG" /></div><br>
        <div class="row"><img src="assets/volkstanz/image2.JPG" /></div>
      </div>
    </div>
    <div class="row">
      <p>
        Die ältesten österreichischen Tanzformen sind Kranzltonzn, Schuhplattln und der Ländler. Der alpenländische Volkstanz lässt
        sich in mehrere Tanzfamilien unterteilen, die sich in Unterarten aufbrechen. Hier wären zu nennen: Ländler, Mazurka,
        Polka, Schottisch, Dreher, Walzer und Zweifacher.<br><br> Wir "Eglseer" tanzen eine große Zahl an Volkstänzen
        und leisten somit einen Teil zur Erhaltung der Volkstanztradition, gleichzeitig verändern wir die überlieferten Tänze
        geringfügig. Eine "Spezialität" der Eglseer sind auch selbsterarbeiteten Potpourrien, die wir zu speziellen Anlässen
        aus mehreren verschiedenen Volkstänzen zusammenstellen, aneinanderfügen oder ineinanderfließen lassen.
        <br><br> Beim Kathreintanz 2010 wurde ein Boarischer mit einem Chacha verschnitten das kam dabei heraus -->
        <a href="http://www.youtube.com/watch?v=RJftczV9-mQ">Mitternachtseinlage 2010</a> <br><br>Das Tanzen muss Spass machen
        und braucht eine stetige Weiterentwicklung um interessant zu bleiben.
      </p>
    </div>
  </div>
</div>